# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock

# Firebase
google-services.json
GoogleService-Info.plist
# Uncomment below if you want to prevent committing real firebase_options.dart
# apps/mobile/lib/firebase_options.dart

# Android
apps/mobile/android/.gradle/
apps/mobile/android/captures/
apps/mobile/android/gradlew
apps/mobile/android/gradlew.bat
apps/mobile/android/local.properties
apps/mobile/android/key.properties
apps/mobile/android/*.keystore
apps/mobile/android/*.jks

# iOS
apps/mobile/ios/*.xcworkspace/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Flutter.framework
apps/mobile/ios/Flutter/Flutter.podspec

# Cloud Functions
functions/node_modules/
functions/lib/

# Coverage
apps/mobile/coverage/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Logs
*.log
